<config>
  <routes template="templates/pages/index.xsl">
    <route path="/" data="data/index.xml">Home</route>
    <route path="/:lang/about">About Me</route>
    <route path="/contact">Contact Me</route>
    <route path="/download">Download CV</route>
    <route path="/research">Research</route>
    <route path="/publications">Publications</route>
    <route path="/teaching">Teaching</route>
    <route path="/gallery">Gallery</route>
    <route path="/admin" hide="true" template="admin.xsl"/>
    <route path="*" hide="true" data="data/404.xml">404</route>
  </routes>
  <db name="jennifer_doe" server="localhost" username="root" password="">
    <table name="lang" on-delete="cascade">
      <col>name</col>
    </table>
    <table name="education">
      <col>headline</col>
      <col many-to-one="lang">langId</col>
    </table>
    <table name="ahoj">
      <col>ahoj</col>
      <col many-to-one="lang">langId</col>
    </table>
  </db>
  <data>
    <brand>Jennifer Doe</brand>
  </data>
</config>