<config>

  <!-- sitemap -->
  <routes template="templates/pages/index.xsl">
    <route path="/" data="data/index.xml">Home</route>
    <route path="/:lang/about">About Me</route>
    <route path="/admin/:tabulka" hide="true" template="templates/pages/admin.xsl">Admin</route>
    <route path="*" hide="true" data="data/404.xml">404</route>
  </routes>

  <!-- schema databaze -->
  <db name="jennifer_doe" server="localhost" username="root" password="">
    <table name="lang" on-delete="cascade">
      <col>name</col>
    </table>
    <table name="education">
      <col>headline</col>
      <col many-to-one="lang">langId</col>
    </table>
    <table name="ahoj">
      <col>ahoj</col>
      <col many-to-one="lang">langId</col>
    </table>
    <table name="category" on-delete="cascade">
      <col>name</col>
    </table>
    <table name="academic_position">
      <col type="year">start_year</col>
      <col type="year">end_year</col>
      <col>position_name</col>
      <col>university</col>
      <col>department</col>
      <col many-to-one="lang">langId</col>
    </table>
    <table name="product">
      <col>type</col>
      <col>name</col>
      <col type="text">desc</col>
      <col>price</col>
      <col>category</col>
      <col type="text">specs</col>
      <col many-to-one="category">categoryId</col>
    </table>
    <table name="customer">
      <col>name</col>
      <col>address</col>
    </table>
    <table name="invoice">
      <col many-to-many="product">productId</col>
      <col many-to-one="customer">customerId</col>
    </table>
  </db>

  <!-- tato data se daji prepsat v <data> pro danou podstranku -->
  <data>
    <brand>Jennifer Doe</brand>
  </data>
</config>